In [1]:
import pandas as pd

In [ ]:
# load csv file 
df = pd.read_csv("pokemon_data .csv") # COPY PATH
# print csv data
print(df)

       #                   Name   Type 1  Type 2  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison  45      49       49
1      2                Ivysaur    Grass  Poison  60      62       63
2      3               Venusaur    Grass  Poison  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison  80     100      123
4      4             Charmander     Fire     NaN  39      52       43
..   ...                    ...      ...     ...  ..     ...      ...
795  719                Diancie     Rock   Fairy  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark  80     160       60
799  721              Volcanion     Fire   Water  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
..       ...      ...    ...         ...        ...
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[800 rows x 12 columns]

In [7]:
# first 5 rows
print(df.head(5))

   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
0  1              Bulbasaur  Grass  Poison  45      49       49       65
1  2                Ivysaur  Grass  Poison  60      62       63       80
2  3               Venusaur  Grass  Poison  80      82       83      100
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4  4             Charmander   Fire     NaN  39      52       43       60

   Sp. Def  Speed  Generation  Legendary
0       65     45           1      False
1       80     60           1      False
2      100     80           1      False
3      120     80           1      False
4       50     65           1      False

In [11]:
#last 3 rows
print(df.tail(3))

       #                 Name   Type 1 Type 2  HP  Attack  Defense  Sp. Atk  \
797  720  HoopaHoopa Confined  Psychic  Ghost  80     110       60      150
798  720   HoopaHoopa Unbound  Psychic   Dark  80     160       60      170
799  721            Volcanion     Fire  Water  80     110      120      130

     Sp. Def  Speed  Generation  Legendary
797      130     70           6       True
798      130     80           6       True
799       90     70           6       True

In [ ]:
df = pd.read_csv("pokemon_data .csvt", delimiter = '\t')
print(df.head(4))

   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
0  1              Bulbasaur  Grass  Poison  45      49       49       65
1  2                Ivysaur  Grass  Poison  60      62       63       80
2  3               Venusaur  Grass  Poison  80      82       83      100
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122

   Sp. Def  Speed  Generation  Legendary
0       65     45           1      False
1       80     60           1      False
2      100     80           1      False
3      120     80           1      False

In [23]:
# Read headers
print(df.columns)

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [31]:
#Read single column
print(df['Name'][0:6])

0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
5               Charmeleon
Name: Name, dtype: object

In [35]:
#Read multiple column
print(df[['Name','HP']])

                      Name  HP
0                Bulbasaur  45
1                  Ivysaur  60
2                 Venusaur  80
3    VenusaurMega Venusaur  80
4               Charmander  39
..                     ...  ..
795                Diancie  50
796    DiancieMega Diancie  50
797    HoopaHoopa Confined  80
798     HoopaHoopa Unbound  80
799              Volcanion  80

[800 rows x 2 columns]

In [70]:
print(df.iloc[1:3])

   #      Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
1  2   Ivysaur  Grass  Poison  60      62       63       80       80     60
2  3  Venusaur  Grass  Poison  80      82       83      100      100     80

   Generation  Legendary
1           1      False
2           1      False

In [74]:
#access data using index values, [row,col]
print(df.iloc[1,1])

Ivysaur

In [82]:
# access using label
print(df.loc[:,'HP'])

0      45
1      60
2      80
3      80
4      39
       ..
795    50
796    50
797    80
798    80
799    80
Name: HP, Length: 800, dtype: int64

In [116]:
#access data using multiple labels with conditions. 
print(df.loc[(df['Type 2'] == "Fighting") & (df['HP'] < 70)])

       #                 Name   Type 1    Type 2  HP  Attack  Defense  \
277  256            Combusken     Fire  Fighting  60      85       60
310  286              Breloom    Grass  Fighting  60     130       80
436  391             Monferno     Fire  Fighting  64      78       52
476  428  LopunnyMega Lopunny   Normal  Fighting  65     136       94
503  453             Croagunk   Poison  Fighting  48      61       40
526  475              Gallade  Psychic  Fighting  68     125       65
527  475  GalladeMega Gallade  Psychic  Fighting  68     165       95
620  559              Scraggy     Dark  Fighting  50      75       70
621  560              Scrafty     Dark  Fighting  65      90      115

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
277       85       60     55           3      False
310       60       60     70           3      False
436       78       52     81           4      False
476       54       96    135           4      False
503       61       40     50           4      False
526       65      115     80           4      False
527       65      115    110           4      False
620       35       70     48           5      False
621       45      115     58           5      False

In [118]:
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [120]:
df.sort_values('Name')

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True

In [138]:
# df.sort_values(['Speed','Name'], ascending = [False,True])
df.sort_values(['Speed','Name'], ascending = [0,1])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
431,386,DeoxysSpeed Forme,Psychic,NaN,50,95,90,95,90,180,3,True
315,291,Ninjask,Bug,Flying,61,90,45,50,50,160,3,False
154,142,AerodactylMega Aerodactyl,Rock,Flying,80,135,85,70,95,150,1,False
71,65,AlakazamMega Alakazam,Psychic,NaN,55,50,65,175,95,150,1,False
429,386,DeoxysAttack Forme,Psychic,NaN,50,180,20,180,20,150,3,True
...,...,...,...,...,...,...,...,...,...,...,...,...
486,438,Bonsly,Rock,NaN,50,80,95,10,45,10,4,False
658,597,Ferroseed,Grass,Steel,44,50,91,24,86,10,5,False
359,328,Trapinch,Ground,NaN,45,100,45,45,45,10,3,False
495,446,Munchlax,Normal,NaN,135,85,40,40,85,5,4,False
230,213,Shuckle,Bug,Rock,20,10,230,10,230,5,2,False

In [140]:
#New column
df['Total'] = df['HP'] + df['Attack'] + df['Speed']
print(df.head(6))

   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
0  1              Bulbasaur  Grass  Poison  45      49       49       65
1  2                Ivysaur  Grass  Poison  60      62       63       80
2  3               Venusaur  Grass  Poison  80      82       83      100
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4  4             Charmander   Fire     NaN  39      52       43       60
5  5             Charmeleon   Fire     NaN  58      64       58       80

   Sp. Def  Speed  Generation  Legendary  Total
0       65     45           1      False    139
1       80     60           1      False    182
2      100     80           1      False    242
3      120     80           1      False    260
4       50     65           1      False    156
5       65     80           1      False    202

In [156]:
# Max of total and print the row
# idxmax() - index of max value
#loc[df[index_max]] gives row with that index
print(df.loc[df['Total'].idxmax()])

#                             150
Name          MewtwoMega Mewtwo X
Type 1                    Psychic
Type 2                   Fighting
HP                            106
Attack                        190
Defense                       100
Sp. Atk                       154
Sp. Def                       100
Speed                         130
Generation                      1
Legendary                    True
Total                         426
Name: 163, dtype: object

In [158]:
print(df.loc[df['Total'].idxmin()])

#                 213
Name          Shuckle
Type 1            Bug
Type 2           Rock
HP                 20
Attack             10
Defense           230
Sp. Atk            10
Sp. Def           230
Speed               5
Generation          2
Legendary       False
Total              35
Name: 230, dtype: object

In [162]:
# Top 5 rows (max)
print(df.nlargest(5, 'Total')[['Name', 'Total', 'Speed']])

                      Name  Total  Speed
163    MewtwoMega Mewtwo X    426    130
313                Slaking    410    100
426  RayquazaMega Rayquaza    400    115
164    MewtwoMega Mewtwo Y    396    140
711     KyuremBlack Kyurem    390     95

In [164]:
print(df.nsmallest(5, 'Total')[['Name', 'Total', 'Speed']])

          Name  Total  Speed
230    Shuckle     35      5
189     Togepi     75     20
388    Duskull     85     25
446  Kricketot     87     25
187     Cleffa     90     15

In [180]:
# Drop columns
df = df.drop(columns = ['Generation', 'Defense'])
print(df)

       #                   Name   Type 1  Type 2  HP  Attack  Sp. Def  \
0      1              Bulbasaur    Grass  Poison  45      49       65
1      2                Ivysaur    Grass  Poison  60      62       80
2      3               Venusaur    Grass  Poison  80      82      100
3      3  VenusaurMega Venusaur    Grass  Poison  80     100      120
4      4             Charmander     Fire     NaN  39      52       50
..   ...                    ...      ...     ...  ..     ...      ...
795  719                Diancie     Rock   Fairy  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost  80     110      130
798  720     HoopaHoopa Unbound  Psychic    Dark  80     160      130
799  721              Volcanion     Fire   Water  80     110       90

     Legendary  Total
0        False    139
1        False    182
2        False    242
3        False    260
4        False    156
..         ...    ...
795       True    200
796       True    320
797       True    260
798       True    320
799       True    260

[800 rows x 9 columns]

In [230]:
df['Power'] = df.iloc[:, 4:6].sum(axis = 1)
print(df[['Name','HP','Power']])

                      Name  HP  Power
0                Bulbasaur  45     94
1                  Ivysaur  60    122
2                 Venusaur  80    162
3    VenusaurMega Venusaur  80    180
4               Charmander  39     91
..                     ...  ..    ...
795                Diancie  50    150
796    DiancieMega Diancie  50    210
797    HoopaHoopa Confined  80    190
798     HoopaHoopa Unbound  80    240
799              Volcanion  80    190

[800 rows x 3 columns]

In [220]:
l= df.columns.values
print(list)
print(df[l[3:6]])

['#' 'Name' 'Type 1' 'Type 2' 'HP' 'Attack' 'Sp. Def' 'Legendary' 'Total'
 'Power']
     Type 2  HP  Attack
0    Poison  45      49
1    Poison  60      62
2    Poison  80      82
3    Poison  80     100
4       NaN  39      52
..      ...  ..     ...
795   Fairy  50     100
796   Fairy  50     160
797   Ghost  80     110
798    Dark  80     160
799   Water  80     110

[800 rows x 3 columns]

In [228]:
#save as new csv file with updates.
df.to_csv('modified.csv', index = False)
df.to_csv('modified.txt', index = False, sep = '\t')

In [267]:
new_df = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] < 90)]
print(new_df)

       #                   Name Type 1  Type 2  HP  Attack  Sp. Def  \
0      1              Bulbasaur  Grass  Poison  45      49       65
1      2                Ivysaur  Grass  Poison  60      62       80
2      3               Venusaur  Grass  Poison  80      82      100
3      3  VenusaurMega Venusaur  Grass  Poison  80     100      120
48    43                 Oddish  Grass  Poison  45      50       65
49    44                  Gloom  Grass  Poison  60      65       75
50    45              Vileplume  Grass  Poison  75      80       90
75    69             Bellsprout  Grass  Poison  50      75       30
76    70             Weepinbell  Grass  Poison  65      90       45
77    71             Victreebel  Grass  Poison  80     105       70
344  315                Roselia  Grass  Poison  50      60       80
451  406                  Budew  Grass  Poison  40      30       70
452  407               Roserade  Grass  Poison  60      70      105
651  590                Foongus  Grass  Poison  69      55       55

     Legendary  Total  Power
0        False    139     94
1        False    182    122
2        False    242    162
3        False    260    180
48       False    125     95
49       False    165    125
50       False    205    155
75       False    165    125
76       False    210    155
77       False    255    185
344      False    175    110
451      False    125     70
452      False    220    130
651      False    139    124

In [276]:
# Assign values to index in order.
new_df = new_df.reset_index(drop =True)
print(new_df)

    index    #                   Name Type 1  Type 2  HP  Attack  Sp. Def  \
0       0    1              Bulbasaur  Grass  Poison  45      49       65
1       1    2                Ivysaur  Grass  Poison  60      62       80
2       2    3               Venusaur  Grass  Poison  80      82      100
3       3    3  VenusaurMega Venusaur  Grass  Poison  80     100      120
4      48   43                 Oddish  Grass  Poison  45      50       65
5      49   44                  Gloom  Grass  Poison  60      65       75
6      50   45              Vileplume  Grass  Poison  75      80       90
7      75   69             Bellsprout  Grass  Poison  50      75       30
8      76   70             Weepinbell  Grass  Poison  65      90       45
9      77   71             Victreebel  Grass  Poison  80     105       70
10    344  315                Roselia  Grass  Poison  50      60       80
11    451  406                  Budew  Grass  Poison  40      30       70
12    452  407               Roserade  Grass  Poison  60      70      105
13    651  590                Foongus  Grass  Poison  69      55       55

    Legendary  Total  Power
0       False    139     94
1       False    182    122
2       False    242    162
3       False    260    180
4       False    125     95
5       False    165    125
6       False    205    155
7       False    165    125
8       False    210    155
9       False    255    185
10      False    175    110
11      False    125     70
12      False    220    130
13      False    139    124

In [291]:
# print(df.loc[~df['Name'].str.contains('Scizor')])
print(df.loc[df['Name'].str.contains('Scizor')])

       #               Name Type 1 Type 2  HP  Attack  Sp. Def  Legendary  \
228  212             Scizor    Bug  Steel  70     130       80      False
229  212  ScizorMega Scizor    Bug  Steel  70     150      100      False

     Total  Power
228    265    200
229    295    220

In [295]:
# REGREX
import re
# Type is either Fire or Grass
df.loc[df['Type 1'].str.contains('Fire|Grass', flags = re.I, regex = True)]

,#,Name,Type 1,Type 2,HP,Attack,Sp. Def,Legendary,Total,Power
0,1,Bulbasaur,Grass,Poison,45,49,65,False,139,94
1,2,Ivysaur,Grass,Poison,60,62,80,False,182,122
2,3,Venusaur,Grass,Poison,80,82,100,False,242,162
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,120,False,260,180
4,4,Charmander,Fire,NaN,39,52,50,False,156,91
...,...,...,...,...,...,...,...,...,...,...
735,667,Litleo,Fire,Normal,62,50,54,False,184,112
736,668,Pyroar,Fire,Normal,86,68,66,False,260,154
740,672,Skiddo,Grass,NaN,66,65,57,False,183,131
741,673,Gogoat,Grass,NaN,123,100,81,False,291,223
799,721,Volcanion,Fire,Water,80,110,90,True,260,190

In [303]:
# Name have 'pi'
df.loc[df['Name'].str.contains('pi[a-z]*', flags = re.I, regex = True)]

,#,Name,Type 1,Type 2,HP,Attack,Sp. Def,Legendary,Total,Power
13,10,Caterpie,Bug,NaN,45,30,20,False,120,75
20,16,Pidgey,Normal,Flying,40,45,35,False,141,85
21,17,Pidgeotto,Normal,Flying,63,60,50,False,194,123
22,18,Pidgeot,Normal,Flying,83,80,70,False,264,163
23,18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,False,284,163
30,25,Pikachu,Electric,NaN,35,55,50,False,180,90
42,37,Vulpix,Fire,NaN,38,41,65,False,144,79
76,70,Weepinbell,Grass,Poison,65,90,45,False,210,155
84,78,Rapidash,Fire,NaN,65,100,80,False,270,165
136,127,Pinsir,Bug,NaN,65,125,70,False,275,190
137,127,PinsirMega Pinsir,Bug,Flying,65,155,90,False,325,220
181,167,Spinarak,Bug,Poison,40,60,40,False,130,100
186,172,Pichu,Electric,NaN,20,40,35,False,120,60
189,175,Togepi,Fairy,NaN,35,20,65,False,75,55
202,187,Hoppip,Grass,Flying,35,35,55,False,120,70
219,204,Pineco,Bug,NaN,50,65,35,False,130,115
239,221,Piloswine,Ice,Ground,100,100,60,False,250,200
266,247,Pupitar,Rock,Ground,70,84,70,False,205,154
345,316,Gulpin,Poison,NaN,70,43,53,False,153,113
357,326,Grumpig,Psychic,NaN,80,45,110,False,205,125
358,327,Spinda,Normal,NaN,60,60,60,False,180,120
359,328,Trapinch,Ground,NaN,45,100,45,False,155,145
390,357,Tropius,Grass,Flying,99,68,87,False,218,167
438,393,Piplup,Water,NaN,53,51,56,False,144,104
463,416,Vespiquen,Bug,Flying,70,80,102,False,190,150
488,440,Happiny,Normal,NaN,100,5,65,False,135,105
490,442,Spiritomb,Ghost,Dark,50,92,108,False,177,142
501,451,Skorupi,Poison,Bug,40,50,55,False,155,90
502,452,Drapion,Poison,Dark,70,90,75,False,255,160
557,498,Tepig,Fire,NaN,65,63,45,False,173,128
558,499,Pignite,Fire,Fighting,90,93,55,False,238,183
578,519,Pidove,Normal,Flying,50,55,30,False,148,105
596,536,Palpitoad,Water,Ground,75,65,55,False,209,140
716,648,MeloettaPirouette Forme,Normal,Fighting,100,128,77,False,356,228
718,650,Chespin,Grass,NaN,56,61,45,False,155,117

In [305]:
#Name starts with 'pi' (^ - start)
df.loc[df['Name'].str.contains('^pi[a-z]*', flags = re.I, regex = True)]

,#,Name,Type 1,Type 2,HP,Attack,Sp. Def,Legendary,Total,Power
20,16,Pidgey,Normal,Flying,40,45,35,False,141,85
21,17,Pidgeotto,Normal,Flying,63,60,50,False,194,123
22,18,Pidgeot,Normal,Flying,83,80,70,False,264,163
23,18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,False,284,163
30,25,Pikachu,Electric,NaN,35,55,50,False,180,90
136,127,Pinsir,Bug,NaN,65,125,70,False,275,190
137,127,PinsirMega Pinsir,Bug,Flying,65,155,90,False,325,220
186,172,Pichu,Electric,NaN,20,40,35,False,120,60
219,204,Pineco,Bug,NaN,50,65,35,False,130,115
239,221,Piloswine,Ice,Ground,100,100,60,False,250,200
438,393,Piplup,Water,NaN,53,51,56,False,144,104
558,499,Pignite,Fire,Fighting,90,93,55,False,238,183
578,519,Pidove,Normal,Flying,50,55,30,False,148,105

In [340]:
df.loc[df['HP'] <50, ['Power', 'Total']] = 'CHECK'
df

,#,Name,Type 1,Type 2,HP,Attack,Sp. Def,Legendary,Total,Power
0,1,Bulbasaur,Grass,Poison,45,49,65,Check,CHECK,CHECK
1,2,Ivysaur,Grass,Poison,60,62,80,False,182,122
2,3,Venusaur,Grass,Poison,80,82,100,False,242,162
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,120,False,260,180
4,4,Charmander,Fire,NaN,39,52,50,Check,CHECK,CHECK
...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,True,200,150
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,True,320,210
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,130,True,260,190
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,130,True,320,240
799,721,Volcanion,Fire,Water,80,110,90,True,260,190

In [358]:
df.groupby(['Name']).mean(numeric_only=True).sort_values('HP', ascending = False)

               #     HP  Attack  Sp. Def
Name
Blissey    242.0  255.0    10.0    135.0
Chansey    113.0  250.0     5.0    105.0
Wobbuffet  202.0  190.0    33.0     58.0
Wailord    321.0  170.0    90.0     45.0
Alomomola  594.0  165.0    75.0     45.0
...          ...    ...     ...      ...
Mime Jr.   439.0   20.0    25.0     90.0
Shuckle    213.0   20.0    10.0    230.0
Pichu      172.0   20.0    40.0     35.0
Diglett     50.0   10.0    55.0     45.0
Shedinja   292.0    1.0    90.0     30.0

[800 rows x 4 columns]

In [360]:
df.groupby(['Name']).sum(numeric_only=True).sort_values('HP', ascending = False)

             #   HP  Attack  Sp. Def
Name
Blissey    242  255      10      135
Chansey    113  250       5      105
Wobbuffet  202  190      33       58
Wailord    321  170      90       45
Alomomola  594  165      75       45
...        ...  ...     ...      ...
Mime Jr.   439   20      25       90
Shuckle    213   20      10      230
Pichu      172   20      40       35
Diglett     50   10      55       45
Shedinja   292    1      90       30

[800 rows x 4 columns]

In [368]:
df.groupby(['Type 1']).count()

            #  Name  Type 2   HP  Attack  Sp. Def  Legendary  Total  Power
Type 1
Bug        69    69      52   69      69       69         69     69     69
Dark       31    31      21   31      31       31         31     31     31
Dragon     32    32      21   32      32       32         32     32     32
Electric   44    44      17   44      44       44         44     44     44
Fairy      17    17       2   17      17       17         17     17     17
Fighting   27    27       7   27      27       27         27     27     27
Fire       52    52      24   52      52       52         52     52     52
Flying      4     4       2    4       4        4          4      4      4
Ghost      32    32      22   32      32       32         32     32     32
Grass      70    70      37   70      70       70         70     70     70
Ground     32    32      19   32      32       32         32     32     32
Ice        24    24      11   24      24       24         24     24     24
Normal     98    98      37   98      98       98         98     98     98
Poison     28    28      13   28      28       28         28     28     28
Psychic    57    57      19   57      57       57         57     57     57
Rock       44    44      35   44      44       44         44     44     44
Steel      27    27      22   27      27       27         27     27     27
Water     112   112      53  112     112      112        112    112    112

In [373]:
df.groupby(['Type 1'])['Name'].count()

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: Name, dtype: int64

In [379]:
df.groupby(['Type 1'])['HP'].mean()

Type 1
Bug         56.884058
Dark        66.806452
Dragon      83.312500
Electric    59.795455
Fairy       74.117647
Fighting    69.851852
Fire        69.903846
Flying      70.750000
Ghost       64.437500
Grass       67.271429
Ground      73.781250
Ice         72.000000
Normal      77.275510
Poison      67.250000
Psychic     70.631579
Rock        65.363636
Steel       65.222222
Water       72.062500
Name: HP, dtype: float64

#### DATA HANDLING

In [382]:
df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Sp. Def,Legendary,Total,Power
0,1,Bulbasaur,Grass,Poison,45,49,65,Check,CHECK,CHECK
1,2,Ivysaur,Grass,Poison,60,62,80,False,182,122
2,3,Venusaur,Grass,Poison,80,82,100,False,242,162
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,120,False,260,180
4,4,Charmander,Fire,NaN,39,52,50,Check,CHECK,CHECK

In [384]:
df.tail(6)

,#,Name,Type 1,Type 2,HP,Attack,Sp. Def,Legendary,Total,Power
794,718,Zygarde50% Forme,Dragon,Ground,108,100,95,True,303,208
795,719,Diancie,Rock,Fairy,50,100,150,True,200,150
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,True,320,210
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,130,True,260,190
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,130,True,320,240
799,721,Volcanion,Fire,Water,80,110,90,True,260,190

In [390]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   #          800 non-null    int64
 1   Name       800 non-null    object
 2   Type 1     800 non-null    object
 3   Type 2     414 non-null    object
 4   HP         800 non-null    int64
 5   Attack     800 non-null    int64
 6   Sp. Def    800 non-null    int64
 7   Legendary  800 non-null    object
 8   Total      800 non-null    object
 9   Power      800 non-null    object
dtypes: int64(4), object(6)
memory usage: 62.6+ KB

In [400]:
# DROP MISSING VALUES
df = df.dropna()
#Fill missing value
df['HP'] = df['HP'].fillna(0)

In [402]:
#Drop columns
df = df.drop(columns = 'Sp. Def')
df

,#,Name,Type 1,Type 2,HP,Attack,Legendary,Total,Power
0,1,Bulbasaur,Grass,Poison,45,49,Check,CHECK,CHECK
1,2,Ivysaur,Grass,Poison,60,62,False,182,122
2,3,Venusaur,Grass,Poison,80,82,False,242,162
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,False,260,180
6,6,Charizard,Fire,Flying,78,84,False,262,162
...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,True,200,150
796,719,DiancieMega Diancie,Rock,Fairy,50,160,True,320,210
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,True,260,190
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,True,320,240
799,721,Volcanion,Fire,Water,80,110,True,260,190

In [ ]:
#if only want to read specific columns from file
df = pd.read_csv('data.csv', usecols=['Name', 'HP'])

In [404]:
#no of rows and columns
df.shape

(414, 9)

In [420]:
df.columns.values

array(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Legendary',
       'Total', 'Power'], dtype=object)

In [426]:
#remove rows only where value of HP is null
df = df.dropna(subset = ['HP'])
df

,#,Name,Type 1,Type 2,HP,Attack,Legendary,Total,Power
0,1,Bulbasaur,Grass,Poison,45,49,Check,CHECK,CHECK
1,2,Ivysaur,Grass,Poison,60,62,False,182,122
2,3,Venusaur,Grass,Poison,80,82,False,242,162
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,False,260,180
6,6,Charizard,Fire,Flying,78,84,False,262,162
...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,True,200,150
796,719,DiancieMega Diancie,Rock,Fairy,50,160,True,320,210
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,True,260,190
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,True,320,240
799,721,Volcanion,Fire,Water,80,110,True,260,190

In [434]:
#Rename column Name
df.rename(columns = {'Power':'BOOST'}, inplace = True)
df

,#,Name,Type 1,Type 2,HP,Attack,Legendary,Total,BOOST
0,1,Bulbasaur,Grass,Poison,45,49,Check,CHECK,CHECK
1,2,Ivysaur,Grass,Poison,60,62,False,182,122
2,3,Venusaur,Grass,Poison,80,82,False,242,162
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,False,260,180
6,6,Charizard,Fire,Flying,78,84,False,262,162
...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,True,200,150
796,719,DiancieMega Diancie,Rock,Fairy,50,160,True,320,210
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,True,260,190
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,True,320,240
799,721,Volcanion,Fire,Water,80,110,True,260,190

In [436]:
#Change datatype
df['HP'] = df['HP'].astype('int')

In [444]:
#show duplicated values
df[df.duplicated()]

Empty DataFrame
Columns: [#, Name, Type 1, Type 2, HP, Attack, Legendary, Total, BOOST]
Index: []

In [446]:
#drop rows which have duplicate values 
df.drop_duplicates(inplace = True )

In [448]:
#drop rows which have duplicated Names 
df.drop_duplicates(subset = ['Name'],inplace = True )

In [494]:
df.reset_index(drop = True)

,level_0,index,#,Name,Type 1,Type 2,HP,Attack,Legendary,Total,BOOST
0,0,0,1,Bulbasaur,Grass,Poison,45,49,Check,CHECK,CHECK
1,1,1,2,Ivysaur,Grass,Poison,60,62,False,182,122
2,2,2,3,Venusaur,Grass,Poison,80,82,False,242,162
3,3,3,3,VenusaurMega Venusaur,Grass,Poison,80,100,False,260,180
4,4,6,6,Charizard,Fire,Flying,78,84,False,262,162
...,...,...,...,...,...,...,...,...,...,...,...
409,409,795,719,Diancie,Rock,Fairy,50,100,True,200,150
410,410,796,719,DiancieMega Diancie,Rock,Fairy,50,160,True,320,210
411,411,797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,True,260,190
412,412,798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,True,320,240
413,413,799,721,Volcanion,Fire,Water,80,110,True,260,190